<nav>
  <div class="d-flex mt-2">
    <div class="flex-grow-1 d-flex flex-basis-0">
      <img class="logo" src="img/icon1.png" alt="Pet Store icon" />
    </div>
    <div class="flex-grow-2">
      <app-search-bar></app-search-bar>
    </div>

    <div>
      <app-cart-items></app-cart-items>
    </div>

    <div class="flex-grow-1 flex-basis-0 d-flex justify-content-end">
      @if (!user()) {
      <button class="login-button" mat-flat-button routerLink="login">Login</button>
      } @else {
      <div class="username mr-2">{{user()?.username}}</div>
      <button class="login-button" mat-flat-button (click)="logout()">Logout</button>
      }
    </div>
  </div>
</nav>
